<div class="cont">
    <div class="contact">
        <form>
            <h2>Contact US</h2>
            <input type="text" placeholder="User Name">
            <input type="email" placeholder="Email Id">
            <textarea>Message</textarea>
            <button>Submit</button>
        </form>
    </div>
    <div class="image">
        <img src="https://image.made-in-china.com/44f3j00vJqbkFoMpKcU/Lf41-Sweetheart-Neckline-and-Long-Sleeve-Wedding-Bridal-Dress-with-More-Lace-and-Heavy-Beads-Wedding-Dress-with-Mermaid-Skirt-Long-Train-Dress-2024-New-Style.webp">
    </div>
</div>
