<div class="cate">
    <div class="box">
       <div class="img">
            <img src="https://img0.junaroad.com/uiproducts/18592766/zoom_0-1666020338.jpg">
       </div>
       <div class="tit">
            <p>Dresses</p>
       </div>
    </div>
    <div class="box">
        <div class="img">
            <img src="https://img0.junaroad.com/uiproducts/19812777/zoom_0-1683301290.jpg">
       </div>
       <div class="tit">
            <p>Sarees</p>
       </div>
    </div>
    <div class="box">
        <div class="img">
            <img src="https://i5.walmartimages.com/seo/Peplum-Tops-Women-Square-Neck-Long-Sleeve-Shirts-Bell-Plain-Ruffles-Tunics-Ribbed-Flared-Longline-Blouses-Ladies-2022-New-Autumn-Dressy_c96cef44-3800-451c-ade9-81e78124da39.d13b4c7ac723e8c00086fe2cdf05711a.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF">
       </div>
       <div class="tit">
            <p>Tops</p>
       </div>
    </div>
</div>
<div class="cate">
    <div class="box">
        <div class="img">
            <img src="https://rukminim1.flixcart.com/image/850/1000/xif0q/jean/f/y/g/36-125-4-tsk-original-imaggzhtscmaq9rs.jpeg?q=90&crop=false">
       </div>
       <div class="tit">
            <p>Jeans</p>
       </div>
    </div>
    <div class="box">
        <div class="img">
            <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/jacket/c/k/c/s-1-no-616-s-trend-pick-original-imagh8ecgmc5f4wm.jpeg?q=20&crop=false">
       </div>
       <div class="tit">
            <p>Kurtis</p>
       </div>
    </div>
    <div class="box">
        <div class="img">
            <img src="https://5.imimg.com/data5/RN/TJ/MY-7605987/purple-danim-kurtis-wholesale-biznet-tradelink-main-copy-500x500.jpg">
       </div>
       <div class="tit">
            <p>Jackets</p>
       </div>
    </div>
</div>
