<div class="service">
    <div class="ser">
        <img src="https://bestqualityalterations.com.au/images/service_004.jpg">
        <h2>Custom Tailoring</h2>
        <p>We provide custom tailoring service so that you can choose all details you want, 
            from buttons to pockets and lapels, we can do everything.</p>
        <button>Enquire Now</button>
    </div>
    <div class="ser">
        <img src="https://images.squarespace-cdn.com/content/v1/5ae67197cef3722ff0749dd9/1684295089293-KEQLKHL35A4OD54NSSE4/hands-tightening-wedding-corset.jpg?format=2500w">
        <h2>Alterations</h2>
        <p>The perfect cut for your outfit is something we believe in. 
            We are engaged in offering best altering options helping you look more classy.</p>
        <button>Enquire Now</button>
    </div>
    <div class="ser">
        <img src="https://thumbs.dreamstime.com/b/woman-fitting-wedding-dress-tailor-studio-young-women-client-fitting-wedding-dress-men-tailor-standing-sewing-106602139.jpg">
        <h2>Wedding Outfit Tailoring</h2>
        <p>We help you make your big day very special by providing unique and
             creative designs of stitching making you look as beautiful as you can.</p>
        <button>Enquire Now</button>
    </div>
    <div class="ser">
        <img src="https://img.freepik.com/premium-photo/beautiful-woman-seamstress-customer-make-selfie-phone-tailor-dressmaker-communicates-with-client-about-wedding-dress-prom-sewing-workshop-studio-blue-background_175356-2293.jpg">
        <h2>Home Visit Services</h2>
        <p>We truly understand your busy schedule. 
            Our master experts are available to visit at your place for taking the necessary measurements.</p>
        <button>Enquire Now</button>
    </div>
</div>
